.Image_links{
    display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-left: 10px;
        margin-right: 10px;
}
.Image_links>div>a>img{
    width: 100%;
    height: 80%;
    max-width: 400px;
    max-height: 300px;
    object-fit: cover;
    object-position: top;
    justify-content: center;
;}

    .Image_link{
       flex: 1 0 300px;
  
    }
    .Image_links>div>a>p{
        background-image: url(/Images/background.jpg);
        background-position: 90% 20%;
        background-repeat: no-repeat;
        font-size: 2em;
        font-weight: 600;
        gap: 20px;
        padding-bottom: 1em;
        padding-top: 1em;
        text-align: center;
        margin-top: -4px;
        max-width: 400px;
        
    }

    @media (min-width: 1580px) {
        
        .Image_links>div>a>img{
            width: 100%;
            height: 80%;
            min-width: 350px;
            min-height: 300px;
            object-fit: cover;
            object-position: top;
            justify-content: center
        ;}
        .Image_links>div>a>p{
       
            width: 100%;
            min-width: 350px;}
            
        
    }
        @media (min-width: 1829px) {
        
        .Image_links>div>a>img{
            width: 100%;
            height: 80%;
            min-width: 500px;
            min-height: 300px;
            object-fit: cover;
            object-position: top;
            justify-content: center
            
        ;}
        .Image_links>div>a>p{
       
            width: 100%;
            min-width: 500px;
            
        }
        
    }