.Image_links>div>a>img{
    width: 20em; 
    height: 20em;
    object-fit:cover;
    object-position: top 
    ;}

    .Image_links{
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
    .Image_links>div>a>p{
        background-image: url(/Images/background.jpg);
        font-size: 2em;
        margin-right: 0.5em;
    }