img{
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.event{
    flex: 1 0 100%;
    
}
.event>p{ 
    
background-image: url(/Images/background.jpg);
padding-top: 10px;
width: 100%;
    margin-top: -0.2em ;
font-size: 2.5em;
color: black;
font-weight: 500;
text-align: center;
}

.Event_headline{
    text-align: center;
    font-size: 1.7em;
    text-transform: uppercase;}

    @media(max-width: 810px){
        .Event_headline{
            font-size: 1.3em;}
    }
    @media(max-width: 650px){


        .event>p{ 
        font-size: 1.5em;
    
        text-align: left;}
        .Event_headline{
            font-size: 1.5em;
        padding-top: 150px;}
        .Event_headline{
            font-size: 0.9em;
        }
    }


    @media (max-width: 420px) {
        .event>p{ 
        font-size: 1em;
        text-align: left;
    margin-top: -5px;
padding-bottom: 10px;}
        .Event_headline{
            font-size: 0.7em;}
    }
        