img{
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}
.event{
    flex: 1 0 100%;
}
.event>p{ 
    margin-top: -2em ;
    margin-bottom: 1em;
font-size: 1.5em;
color: white;
margin-right: 50px;
font-weight: 500;
text-align: right;}

.Event_headline{
    text-align: center;
    font-size: 1.7em;
    text-transform: uppercase;}