@font-face {
    font-family: "Benne";
    src: url(/Fonts/Benne-Regular.ttf);
}
@font-face {
    font-family: "SourceSansPro";
    src: url(/Fonts/SourceSansPro-Regular.ttf);
}
h1,h2,h3{font-family: "Benne";}
h4,h5,p{font-family: "SourceSansPro"}
body{
    margin:0;
}
ul{
    list-style-type: none;
    color: black;
    padding: 0;
}
a{color:black;
text-decoration: none;}
header{
    background-image: url(/Images/background.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    min-width: fit-content;
    max-height: 150px;
    background-position-y: 35%;
    display: flex;
    flex-wrap: wrap;    
    flex-direction: row
    ;gap: 200px;
    justify-content: space-around;  
    align-items: baseline;  
    padding-bottom: 10px;
    
}
.header>nav>ul{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    font-size: 1.8em;
}
.header>nav>ul>li>a{
    padding-right: 20px;
}
.header>nav>ul>li>a:hover{
    color: rgb(67, 50, 89);
    text-decoration: underline;
}
.LOGO {
 max-height: 150px; 

}
footer{
    background-image: url(/Images/footer.jpg);
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    margin-top: 3em;

}
footer>div>h4{
    font-style: italic; text-align: center;
}
footer>div>h3{
    font-weight: 900; margin-bottom: 0%;
}
footer>div{
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto;
    line-height: 0.2em;
}

#menu_checkbox,.menu_hamburger,.hide_list {
    display: none;
}

@media (min-width:1580px) {
    .header>nav>ul{
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        font-size: 2em;
    
}}

@media(max-width: 650px){
    .hide_list{display: none;}
    .LOGO{max-width: 300px;}


.header_menu{ 
    margin-top: -10px;
}
.header_menu>nav>ul{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    font-size: 1em;

}
header{ position: fixed;}
}