@font-face {
    font-family: "Benne";
    src: url(/Fonts/Benne-Regular.ttf);
}
@font-face {
    font-family: "SourceSansPro";
    src: url(/Fonts/SourceSansPro-Regular.ttf);
}
h1,h2,h3{font-family: "Benne";}
h4,h5,p{font-family: "SourceSansPro"}
body{
    margin:0
}
ul{
    list-style-type: none;
    color: black;
    padding: 0;
}
a{color:black;
text-decoration: none;}
header{
    background-image: url(/Images/background.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 15em;
    background-position-y: center;
    display: grid;
    grid-template-columns: 1fr auto;
    margin-bottom: 2em;
    border-bottom:solid rgb(244, 255, 165) 
}
header>nav>ul{
    display: grid; 
    grid-template-columns: 4fr 4fr 5fr 3fr;
    font-size: 2em;
    text-align: left;
    margin-right: 2em;

}
.LOGO {
 max-height: 10em; 
}
footer{
    display: grid;
    grid-template-columns: auto auto auto;
}
footer>div{
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto;
    line-height: 0.2em;
}

#menu_checkbox,.hide_list{
  background-color: yellow; 
}
#menu-checkbox:checked~.hide_list>div,.hide_list{ background-color: red;}  
#menu-checkbox:checked~.hide_list{ background-color: blue;}  
footer{
    background-image: url(/Images/footer.jpg);
    height: fit-content;
}
#menu-checkbox:checked~.hide_list{font-size: 5em;}