.visit_main>h1{
    text-align: center;
}
.information_blocks,.information_blocks2 {
display: flex;
flex-wrap: wrap;
gap: 2em;
justify-content: center;
}
.information_blocks>div,.information_blocks2>div{

    border: solid 1em;
     border-image: url(/Images/background.jpg) 20 round;
    line-height: 40px;
   margin-bottom: 3em;
   padding:0em 2em;
   width: 400px;
   max-width: 450px;
   flex: 1 0 250px
}

.information_blocks>div>h2{
    text-align: center; font-size: 2em;}
.map{
   width: 100%;
}
.times,.times>p,.visit_location,.visit_location>p
{
   text-align: center;line-height: 1em;
}


@media (min-width:1580px) {
    
.information_blocks>div>h2,.information_blocks2>div>h2{
    text-align: center; font-size: 3em;}

.times,.times>p,.visit_location,.visit_location>p
{
   font-size: 1.2em;
}
.information_blocks2>div>p{
    font-size: 1.5em;
}
.information_blocks2>div>h3{
    font-size: 2em;
}
.information_blocks,.information_blocks2 {
    gap:9em;}
}

@media (max-width: 650px) {
    
}