.visit_main>h1{
    text-align: center;
}
.information_blocks,.information_blocks2 {
display: flex;
flex-wrap: wrap;
gap: 2em;
justify-content: center;
}
.information_blocks>div,.information_blocks2>div{

    border: solid 1em;
     border-image: url(/Images/background.jpg) 20 round;
    line-height: 40px;
   margin-bottom: 3em;
   padding:0em 2em;
   width: 400px;
   max-width: 450px;
   flex: 1 0 500px
}

.information_blocks>div>h2{
    text-align: center; font-size: 2em;}
.map{
   width: 100%;
}
.times,.times>p,.visit_location,.visit_location>p
{
   text-align: center;line-height: 1em;
}


@media screen {
    
}